body,html{
    margin: 0;
    padding: 0;
}
#main{
    position: absolute;
    width:75%;
    height: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.clear{
    clear: both;
}
.imagediv{
    border: 1px solid blanchedalmond;
    margin: auto 10px;
    position: absolute;
}